<footer>
    <div id="site-footer">
        <div class="nav-footer phone">
            <div>
                <p>Phone</p>
            </div>
            <div>
                <p>{{phone}}</p>
            </div>
        </div>

        <div class="nav-footer email">
            <div>
                <p>Email</p>
            </div>
            <div>
                <p>{{email}}</p>
            </div>
        </div>

        <div class="nav-footer follow_me">
            <div>
                <p>Follow Me</p>
            </div>
            <div class="nav-footer icon-ingrastam">
               <img src="https://static.wixstatic.com/media/6ea5b4a88f0b4f91945b40499aa0af00.png/v1/fill/w_24,h_24,al_c,usm_0.66_1.00_0.01,enc_auto/6ea5b4a88f0b4f91945b40499aa0af00.png" alt="LinkedIn" style="width:24px;height:24px;object-fit:cover;object-position:50% 50%">
            </div>
             <div class="nav-footer icon-twitter">
               <img src="https://static.wixstatic.com/media/c7d035ba85f6486680c2facedecdcf4d.png/v1/fill/w_24,h_24,al_c,usm_0.66_1.00_0.01,enc_auto/c7d035ba85f6486680c2facedecdcf4d.png" alt="Twitter" style="width:24px;height:24px;object-fit:cover;object-position:50% 50%">
            </div>
        </div>
        
    </div>
</footer>