<header>
    <div id="site-header">
        <div class="nav-header">
            <p class="logo_name">Linh Tuan</p>
        </div>
        <div class="nav-header">
            <p class="logo_level">Intern</p>
        </div>
        <div class="nav-header">
            <a href="/">
                <p>Resume</p>
            </a>
        </div>
        <div class="nav-header">
            <a href="/certificate">
                <p>Certificate</p>
            </a>
        </div>
        <div class="nav-header">
            <a href="/ability">
                <p>Ability</p>
            </a>
        </div>
    
    </div>
</header>