<header>
    <div>
        <g>
            <path d="M200 100c0 55.228-44.772 100-100 100S0 155.228 0 100 44.772 0 100 0s100 44.772 100 100z"></path>
        </g>
    </div>
    <div>
        <p class="font_4" style="font-size:22px;">
            <a href="/home" target="_self">LINH, VU TUAN</a>
        </p>
    </div>
</header>