<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;600;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../css/style.css" />
    
    <title>Linh's Résume</title>
</head>
<body>
    {{>header}}

    <div class="main-content">
        <div class="content">
            <div class="grid_item avatar">
                    <img class="circular--square" src="../img/avatar.jpg" 
                    style="width: 25vw; height: 25vw;"/>
            </div>

            <div class="grid_item short_intro">
                <div class="short_intro_container">
                    <div class="sub_content hello">
                        <h1 class="font_0" style="font-size:100px;"><span style="letter-spacing:-0.02em;">Hello</span></h1>
                    </div>

                    <div class="sub_content  short_intro_title">
                        <p class="font_4" style="font-size:22px;">A Bit About Me</p>
                    </div>

                    <div class="sub_content">
                        <p class="short_intro" style="line-height:1.6em; font-size:16px;">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam blanditiis tempore nemo mollitia consectetur quis ducimus facere nulla? Nobis sint soluta nesciunt est quae, doloremque deleniti quis porro quos cupiditate!
                        </p>
                    </div>
                    <div class="intro_menu">
                        <div class="sub_content circle_resume">
                            <a href="/resume" style="color:#000000">Résume</a>
                        </div>

                        <div class="sub_content circle_certificate">
                            <a href="/certificate" style="color:#000000">Certificate</a>
                        </div>

                        <div class="sub_content circle_ability">
                            <a href="/ability" style="color:#000000">Ability</a>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
       

    </div>
    
    {{>footer}}
    <script src="../script.js"></script>
</body>
</html>