<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;600;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
    <link rel="stylesheet" href="../css/resume-style.css" />
    
    <title>Linh's Résume</title>
</head>
<body>
    {{>header}}

    <div class="resume-content">
        <div class="resume_grid">
            <div class="title_site">
                <h1>Resume</h1>
            </div>
            
            
            
            <div class="work">
                
                <div class="left_site">
                    <h2>Work</h2>
                    <h2>Experience</h2>
                </div>

                <div class="right_side">
                    <div class="row">
                        <div class="left_row">
                            <p>2019 - Present</p>
                        </div>
                        <div class="right_row">
                            <h3>Editor</h3>
                            <p>
                                I'm a paragraph. Click here to add your own text and edit me. It’s easy. Just click “Edit Text” or double click me to add your own content and make changes to the font.
                            </p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="left_row">
                            <p>2018 - 2020</p>
                        </div>
                        <div class="right_row">
                            <h3>Writer at Large</h3>
                            <p>
                                I'm a paragraph. Click here to add your own text and edit me. It’s easy. Just click “Edit Text” or double click me to add your own content and make changes to the font.
                            </p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="left_row">
                            <p>2017 - 2018</p>
                        </div>
                        <div class="right_row">
                            <h3>Intern</h3>
                            <p>
                                I'm a paragraph. Click here to add your own text and edit me. It’s easy. Just click “Edit Text” or double click me to add your own content and make changes to the font.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            
            
            
            <div class="education">
                 
                <div class="left_site">
                    <h2>Education</h2>
                    <h2></h2>
                </div>

                <div class="right_side">
                    <div class="row">
                        <div class="left_row">
                            <p>2015 - 2017</p>
                        </div>
                        <div class="right_row">
                            <h3>Establishment Name | Master’s Degree</h3>
                            <p>
                                I'm a paragraph. Click here to add your own text and edit me. Let your users get to know you.
                            </p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="left_row">
                            <p>2012 - 2015</p>
                        </div>
                        <div class="right_row">
                            <h3>Establishment Name | Bachelor's Degree</h3>
                            <p>
                                I'm a paragraph. Click here to add your own text and edit me. Let your users get to know you.
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            
            
            <div class="skill">
                 
                <div class="left_site">
                    <h2>Skills</h2>
                    <h2>& Expertise</h2>
                </div>

                <div class="right_side">
                    <div class="row">
                        <div class="left_row">
                            <p>2015 - 2017</p>
                        </div>
                        <div class="right_row">
                            <h3>Establishment Name | Master’s Degree</h3>
                            <p>
                                I'm a paragraph. Click here to add your own text and edit me. Let your users get to know you.
                            </p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="left_row">
                            <p>2012 - 2015</p>
                        </div>
                        <div class="right_row">
                            <h3>Establishment Name | Bachelor's Degree</h3>
                            <p>
                                I'm a paragraph. Click here to add your own text and edit me. Let your users get to know you.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
    
    
    {{>footer}}
    <script src="../script.js"></script>
</body>
</html>